<h1>Agendamentos</h1>

<%= link_to 'Agendar Horário', new_appointment_path, class: 'btn btn-primary' %><br />

<%= form_with url: appointments_by_phone_path, method: :get, local: true do %>
  <div class="field">
    <%= label_tag :phone, "Telefone do Cliente" %>
    <%= text_field_tag :phone %>
  </div>
  <div class="actions">
    <%= submit_tag "Buscar Agendamentos" %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Profissional</th>
      <th>Cliente</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
  <div class="appointment">
    <!-- campos existentes -->
    <div class="status">
      Status: <%= appointment.status %>
      <% if appointment.status == 'pending' && current_user == appointment.professional %>
        <%= button_to "Confirmar", confirm_appointment_path(appointment), method: :post, class: "confirm-btn" %>
      <% end %>
    </div>
  </div>
<% end %>
  </tbody>
</table>