<h1>Agendar Horário</h1>

<%= form_with(model: [@professional, @appointment], local: true, data: { controller: "appointments" }) do |form| %>
  <% if @appointment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@appointment.errors.count, "erro") %> impediram este agendamento de ser salvo:</h2>
        <ul>
          <% @appointment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="field">
    <%= form.label :professional %>
    <%= form.collection_select :user_id, 
                         @professionals, 
                         :id, 
                         :name, 
                         { selected: @professional&.id }, 
                         { data: { 
                                 appointments_target: "professionalSelect",
                                 action: "change->appointments#professionalChanged"
                               }} %>
  </div>

  <div class="field">
    <%= form.label :date, "Data Disponível" %>
    <%= form.select :date, 
                    [],
                   { prompt: "Selecione uma data" }, 
                   { data: { 
                    target: "appointments.dateSelect",
                    action: "change->appointments#dateChanged"
                   }} %>
  </div>

  <div class="field">
    <%= form.label :time, "Horário Disponível" %>
    <%= form.select :time, 
                   [], 
                   { prompt: "Selecione um horário" }, 
                   { data: { appointments_target: "timeSelect" } } %>
  </div>

  <h2>Dados do Cliente</h2>

  <div class="field">
    <%= form.label :client_name, "Nome do Cliente" %>
    <%= form.text_field :client_name %>
  </div>

  <div class="field">
    <%= form.label :client_phone, "Telefone do Cliente" %>
    <%= form.text_field :client_phone %>
  </div>

  <div class="actions">
    <%= form.submit "Agendar" %>
  </div>
<% end %>