<h1>Agendar Horário</h1>

<%= form_with(model: [@professional, @appointment], local: true, data: { controller: "appointments" }) do |form| %>
  <div class="field">
    <%= form.label :professional %>
    <%= form.collection_select :user_id, 
                         @professionals, 
                         :id, 
                         :name, 
                         { selected: @professional&.id }, 
                         { data: { 
                           target: "appointments.professionalSelect",
                           action: "change->appointments#professionalChanged"
                         }} %>
  </div>

  <div class="field">
    <%= form.label :date, "Data Disponível" %>
    <%= form.select :date, 
                   [], 
                   { prompt: "Selecione uma data" }, 
                   { data: { 
                    target: "appointments.dateSelect",
                    action: "change->appointments#dateChanged"
                   }} %>
  </div>

  <div class="field">
    <%= form.label :time, "Horário Disponível" %>
    <%= form.select :time, 
                   [], 
                   { prompt: "Selecione um horário" }, 
                   { data: { target: "appointments.timeSelect" }} %>
  </div>

  <div class="field">
    <%= form.label :service_id, "Serviço" %>
    <%= form.collection_select :service_id, @services, :id, :name %>
  </div>

  <h2>Dados do Cliente</h2>

  <div class="field">
    <%= form.label :client_name, "Nome do Cliente" %>
    <%= form.text_field :client_name %>
  </div>

  <div class="field">
    <%= form.label :client_phone, "Telefone do Cliente" %>
    <%= form.text_field :client_phone %>
  </div>

  <div class="actions">
    <%= form.submit "Agendar" %>
  </div>
<% end %>